// variables ici
$background-color: #010d24;
$bauble-color-red: #8b1111;
$bauble-color-bleu: #4ea0bb;
$bauble-color-vert: #1b603f;
$bauble-color-grey: #d9d9d9;
$bauble-color-white: #ffff;
$decoration-color: #ffd15c;
$font-family: Arial, Helvetica, sans-serif;
$font-color-1: white;
$font-color-2: black;
// fin des variables

.question9 {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
}

.question9__section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.question9__image {
  height: 450px;
}

.question9__title {
  padding: 2%;
  margin-block-end: 5px;
  max-width: 100%;
  max-height: 100%;
  font-size: 2.5rem;
}

.question9__buttons--container {
    display: flex;
    gap: 20px;
}

.question9__buttons {
  width: 440px;
  height: 440px;
  border-radius: 100%;
  margin-block-start: 15px;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  text-shadow:
    0px 5px 0 rgb(0, 0, 0),
    0px -5px 0 rgb(0, 0, 0),
    5px 0px 0 rgb(0, 0, 0),
    -5px 0px 0 rgb(0, 0, 0),
    5px 5px 0 rgb(0, 0, 0),
    5px -5px 0 rgb(0, 0, 0),
    -5px 5px 0 rgb(0, 0, 0),
    -5px -5px 0 rgb(0, 0, 0),
    0px 5px 0 rgb(0, 0, 0),
    0px -5px 0 rgb(0, 0, 0),
    5px 0px 0 rgb(0, 0, 0),
    -5px 0px 0 rgb(0, 0, 0),
    5px 5px 0 rgb(0, 0, 0),
    5px -5px 0 rgb(0, 0, 0),
    -5px 5px 0 rgb(0, 0, 0),
    -5px -5px 0 rgb(0, 0, 0);
}


.question9__buttons--left {
    background-image: url("../../../assets/j'aimeNoel.webp");
    background-size: cover;
}

.question9__buttons--right {
    background-image: url("../../../assets/jaimePasNoel.jpg");
    background-size: cover;
}