// variables ici
$background-color: #010d24;
$bauble-color-red: #8b1111;
$bauble-color-bleu: #4ea0bb;
$bauble-color-vert: #1b603f;
$bauble-color-grey: #d9d9d9;
$bauble-color-white: #ffff;
$decoration-color: #ffd15c;
$font-family: Arial, Helvetica, sans-serif;
$font-color-1: white;
$font-color-2: black;
// fin des variables



.question1 {
    background-color: pink;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}

.question1__section{
    width: 50vw;
}

.question1__image {
    height: 50%;
}

  .question1__container {
    background-color: white;
    max-width: 40%;
    padding: 0.5rem;
    border: 1px solid lightgray;
    max-height: 100%;
  }
  
  .question1__title {
    background-color: pink;
    padding: 5%;
    margin-block-end: 5px;
    max-width: 100%;
    max-height: 100%;
    font-size: 1.2rem;
  }


  