.WrongAnswerPopup {
  border: 20px ridge #87ff50;
  background: #e3c3c3;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
  opacity: 0.5;
  position: absolute;
  left: 40%;
  top: 40%;
}
.WrongAnswerPopup__closeButton {
  background-color: red;
}
.active {
  opacity: 1;
}
.notActive {
  animation: myAnim 1s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translateX(1000px) rotate(10000deg);
  }
}
