// variables ici
$background-color: #010d24;
$bauble-color-red: #8b1111;
$bauble-color-bleu: #4ea0bb;
$bauble-color-vert: #1b603f;
$bauble-color-grey: #d9d9d9;
$bauble-color-white: #ffff;
$decoration-color: #ffd15c;
$font-family: Arial, Helvetica, sans-serif;
$font-color-1: white;
$font-color-2: black;
// fin des variables

// variable locale
$robotBlue: rgb(0, 165, 247);

.robotQuestion {
  background-color: aquamarine;
  padding: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.robotQuestion__container {
  background-color: white;
  max-width: 50%;
  padding: 0.5rem;
  border: 1px solid lightgray;
}

.robotQuestion__title {
  background-color: $robotBlue;
  color: white;
  padding: 5%;
  margin-block-end: 5px;
  max-width: 100%;
  max-height: 100%;
  font-size: 1.2rem;
}

.robotQuestion__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  border-block-end: 1px solid lightgray;
}

.robotQuestion__grid--img {
  width: 100%;
  transition: transform .1s;
  cursor: pointer;
}

.robotQuestion__grid--img:hover {
    border: 5px solid $robotBlue;
    transform: scale(110%);
    cursor: pointer;
}

.robotQuestion__footer--img {
  max-width: 50%;
  margin-block-start: 2%;
}
