// variables ici
$background-color: #010d24;
$background-color-question: #4ea0bb53;
$bauble-color-red: #8b1111;
$bauble-color-bleu: #4ea0bb;
$bauble-color-vert: #1b603f;
$bauble-color-grey: #d9d9d9;
$bauble-color-white: #ffff;
$decoration-color: #ffd15c;
$font-family: Arial, Helvetica, sans-serif;
$font-color-1: white;
$font-color-2: black;
//fin des variables

.questions {
  display: float;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}

.questions__left {
  width: 30%;
  height: 100%;
  padding: 1%;
  float: left;
}

.questions__right {
  width: 70%;
  max-height: 100%;
  background-color: $background-color-question;
  padding: 1%;
  display: flex;
  flex-direction: column;
  float: right;
}

//neige
.snow {
	position: relative;
	margin: 0 auto;
	width : 100%;
	height: 1000vh;
}
 
.s-large,
.s-small {
	position : absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
 
.s-large {
	background: url("https://www.creativejuiz.fr/blog/doc/snow-animation-css3/particules_large.png") repeat 0px 0px;
	-webkit-animation: neige-tombe 20s linear infinite;
	     -o-animation: neige-tombe 20s linear infinite;
	        animation: neige-tombe 20s linear infinite;
}

.s-small {
	background: url("https://www.creativejuiz.fr/blog/doc/snow-animation-css3/particules_medium.png") repeat 0px 0px;
	-webkit-animation: neige-tombe 35s linear infinite;
	     -o-animation: neige-tombe 35s linear infinite;
	        animation: neige-tombe 35s linear infinite;
}
 
@-webkit-keyframes neige-tombe {
	from {background-position: 0 0;}
	to {background-position: 0 100%;}
}
@keyframes neige-tombe {
	from {background-position: 0 0;}
	to {background-position: 0 100%;}
}
