$background-color:#010D24;

$bauble-color-red:#8B1111;
$bauble-color-bleu:#4EA0BB;
$bauble-color-vert:#1B603F;
$bauble-color-grey:#D9D9D9;
$bauble-color-white:#ffff;

$decoration-color: #FFD15C;

$font-family:Arial, Helvetica, sans-serif;
$font-color-1:white;
$font-color-2:black;

.baubles__chaine{
    display: flex;
    flex-direction: column;
    align-items: center;
    .baubles__chaine__link{
        width: 6px;
        height: 6px; 
        background-color: $decoration-color;
        border-radius: 50%;
    };
    .baubles__chaine__boucle{

        width: 50px;
        height: 50px;
        border: 8px solid $decoration-color;
        border-radius: 50%;
    }
    .baubles__chaine__hook{

        .baubles__chaine__hook__square{
            width: 60px;
            height: 10px; 
            background-color: $decoration-color;
            border-radius: 5px 5px 0 0;
            display: flex;
            justify-content: space-around;
        .baubles__chaine__hook__square__circle{
            width: 2px;
            height: 2px; 
            background-color: $background-color;
            border-radius: 50%;
            margin: 5px;
        }
        }
       .baubles__chaine__hook__semicircle__1{
        display: flex;
        justify-content: space-around;
        .baubles__chaine__hook__semicircle{
            width: 20px;
            height: 15px; 
            background-color: $decoration-color;
            border-radius:0 0 50px 50px;

        }
       } 
    }
.baubles__chaine__baubles{
    width: 500px;
            height: 500px; 
            background: radial-gradient(96.44% 91.64% at 63.71% 65.87%, #EDD2D2 0%, #FCB1B1 24.95%, #EBA5A5 50.02%, #C27F7F 70.62%, #F1C3C3 86.51%, #361A1A 100%);




            border-radius: 50%;

}
}