.excuse {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #6d0808;
  border: 7px double #ffd15c;
  border-radius: 20px;
  .excuse__h1 {
    padding: 0.2em;
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
    margin:0;
    color:#ffd15c ;
  }
  .excuse__h2 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
    margin-bottom: 0.5em;
  }

  .excuse__excuse{
    display: flex;
    width: 10em;

  }
  .excuse__h3 {
    display: flex;
    justify-content: center;
  width: 20em;
    font-size: 2.5em;
    margin-bottom: 0.7em;
  }
}
span{
  color:#ffd15c;
}