@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap");
// variables ici
$background-color: #670101;
$bauble-color-red: #8b1111;
$bauble-color-bleu: #4ea0bb;
$bauble-color-vert: #1b603f;
$bauble-color-grey: #d9d9d9;
$bauble-color-white: #ffff;
$decoration-color: #ffd15c;
$font-family: Arial, Helvetica, sans-serif;
$font-color-1: white;
$font-color-2: black;
//fin des variables

body {
  background-color: $background-color;
  border-block-start: 7px solid $decoration-color;
// background-image: url(../public/assets/tinsel3white.jpg);
  overflow-x: hidden;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.App__home{
    z-index: 10;
}
.App__question{
    position: relative;
    top:60em;
    z-index: 10;

}

