$background-color:#010D24;

$bauble-color-red:#8B1111;
$bauble-color-bleu:#4EA0BB;
$bauble-color-vert:#1B603F;
$bauble-color-grey:#D9D9D9;
$bauble-color-white:#ffff;

$decoration-color: #FFD15C;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// variables ici



