// variables ici
$background-color: #010d24;
$bauble-color-red: #8b1111;
$bauble-color-bleu: #4ea0bb;
$bauble-color-vert: #1b603f;
$bauble-color-grey: #d9d9d9;
$bauble-color-white: #ffff;
$decoration-color: #ffd15c;
$font-family: Arial, Helvetica, sans-serif;
$font-color-1: white;
$font-color-2: black;
//fin des variables

@keyframes bouledeboule {
  0% {
    transform: rotate(5deg);
  }
10%{transform: rotate(4deg);}
20%{transform: rotate(-4deg);}
30%{transform: rotate(3deg);}
40%{transform: rotate(-3deg);}
50%{transform: rotate(2deg);}
60%{transform: rotate(-2deg);}
70%{transform: rotate(1deg);}
80%{transform: rotate(-1deg);}
90%{transform: rotate(0.5deg);}
  100% {
    transform: rotate(0deg);
  }
}

.homepage__baubles {
  position: absolute;
  z-index: 1;

  .homepage__baubles__0 {
    position: absolute;
    top: -36em;
    left: 0.5em;
  }
  .homepage__baubles__0:hover {
    animation: bouledeboule ease-in-out 5s  ;
    transform-origin: center -25px;
  }
  .homepage__baubles__1 {
    position: absolute;

    top: -40em;
    left: 16em;
  }
  .homepage__baubles__1:hover{
    animation: bouledeboule ease-in-out 5s  ;
    transform-origin: center -25px;
  }
  .homepage__baubles__2 {
    position: absolute;
    top: -38em;
    left: -50em;
  }
  .homepage__baubles__2:hover{
    animation: bouledeboule ease-in-out 5s  ;
    transform-origin: center -25px;
  }
  .homepage__baubles__3 {
    position: absolute;
    top: -40em;
    left: -19em;
    animation: bouledeboule ease-in-out 5s  ;
    transform-origin: center -25px;
  }
  .homepage__baubles__3:hover{

  }
  .homepage__baubles__4 {
    position: absolute;
    top: -26em;
    left: -38em;
  }
  .homepage__baubles__4 {
    animation: bouledeboule ease-in-out 5s  ;
    transform-origin: center -25px;

  }
}

.homepage {
  background-color: $background-color;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .homepage__text {
    z-index: 10;
    align-items: end;
    position: absolute;
    top: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .homepage__title {
      color: $bauble-color-white;
      font-family: $font-family;
      margin: 2em;
    }
    .homepage__button {
      background-color: black;
      color: #d9d9d9;
      padding: 0.5em;
      font-size: 2em;
      border-radius: 20px;
    }
  }
}
